:root {
  --color-background-primary: #EDF2F7;
  --color-background-surface: #FFFFFC;

  --color-button-border: #CBCAC8;

  --color-primary-1: #131F2A;
  --color-primary-2: #203446;
  --color-primary-3: #445963;

  --color-alert-1: #FDEDED;
  --color-alert-2: #5f2120;
}

.cs-header,
.need-help-link { display: none; }
.cs-wrapper { padding: 0; }
.cs-wrapper .content {
  background-color: var(--color-background-primary);
  display: flex;
}
.cs-container {
  background-color: var(--color-background-surface);
  border-radius: 8px;
  padding: 42px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.cs-login-logo { height: 120px; }
.cs-login-container input {
  border: 1px solid var(--color-button-border);
  border-radius: 4px;
}
.forgot-username-link-container a { color: var(--color-primary-2); }
.cs-login-select {
  border: 1px solid var(--color-button-border);
  border-radius: 4px;
  color: var(--color-primary-3);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 15px;
  height: 30px;
  padding-left: 9px;
  padding-right: 10px;
}
.content .claim-account-text {
  margin-top: 48px;
  text-align: left;
}
.cs-button {
  background-color: var(--color-primary-1);
  color: var(--color-background-surface);
  border-radius: 4px;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -ms-transition: background-color .2s;
  transition: background-color .2s;
}
.cs-button:hover { background-color: var(--color-primary-2); }
.cs-button-aslink {
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -ms-transition: background-color .2s;
  transition: background-color .2s;
}
#authn-qr-button,
#authn-claim-button {
  background: none;
  background-color: var(--color-background-surface);
  border: 1px solid var(--color-button-border);
  color: var(--color-primary-1);
}
#authn-qr-button:hover,
#authn-claim-button:hover { background-color: var(--color-background-primary); }

.content .error-message,
#authn-login-form .error-message {
  background-color: var(--color-alert-1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 10px;
  border-radius: 4px;
}

.content .error-message::before,
#authn-login-form .error-message::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' fill='%235f2120' aria-hidden='true' viewBox='0 0 24 24' data-testid='ErrorOutlineIcon'%3E%3Cpath d='M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'%3E%3C/path%3E%3C/svg%3E");
  display: block;
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.content .error-message .cs-error,
#authn-login-form .error-message .cs-error {
  color: var(--color-alert-2);
}

/* @media (max-height: 540px) {
  .cs-login-logo {
    height: 120px;
    width: 120px;
    margin: auto 168px auto 0;
  }
} */